html
  head
    title= title
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js')
    script(src='/app.js')
  body
    p
     h3
      | Vehicle management
    p
     form(action='/add', method='POST')
      p
        | Search vehicles: 
        input(type='text', name='title', value='', id='s_input')
     hr
    p
     table(style='width:100%', id='main_table' ,border='0')
       thead
        tr
          th Make
          th Model
          th Year
    p
     h3
      | Add new vehicle
    form(action='/add', method='POST')
      p
        | Make: 
        input(type='text', name='title', value='')
        |          Model: 
        input(type='text', name='year', value='')
        |          Year: 
        input(type='text', name='imdb', value='')
      input(type='submit', value='Save')